---
import SiteShell from "../layouts/SiteShell.astro";
import PlanStep from "../components/PlanStep.astro";

const step = {
    title: 'abc',
    number: 1,
    description: '111111111'
}

import {Image } from 'astro:assets';
import homeImg from '../assets/images/homepage.png';
---

<SiteShell title="Home">
    <div class="mb-3">
        <Image src={homeImg} alt="A picture depicting a madman carving over the tires on a quarter pipe at the DIY park."></Image>
    </div>
    <div class="w-full mb-5">
        This website is dedicated to providing resources for DIY skateparks and preserving the history of
        the Graveside DIY skatepark in Raleigh, NC. Currently, we are engaged in petitioning for the legalization of Graveside.
        <a class="underline decoration-2 p-1 font-bold underline-offset-2 decoration-yellow-300 hover:bg-yellow-300" href="https://actionnetwork.org/petitions/814a303a90fb1b07b3f06344444827da95565506?hash=5793906fc23ee6208aa024a58967d93f">Sign the petition today!</a>
    </div>
    <hr>
</SiteShell>
