---
import { getEntry } from "astro:content";
import Navbar from "../components/navbar.astro";
import "../base.css";
---

<html>
    <body>
        <div
            class="h-screen flex items-center justify-center font-rubikScribble text-center text-7xl md:text-9xl"
        >
            graveside diy
        </div>
    </body>
</html>

<!-- <html>
    <div
        class="flex flex-col gap-5 min-h-screen container mx-auto md:w-3/4 p-5"
    >
        <Navbar />
        <div class="w-full text-center text-2xl">Graveside DIY</div>
        <div class="w-full text-center">
            
        </div>
        <hr />
    </div>


</html> -->
