---

---

<div class="flex flex-row w-full gap-2 justify-between">
    <div class="flex flex-row">
        <div>graveside.diy</div>
    </div>
    <div class="flex flex-row gap-2">
        <div class="">About</div>
        <div class="">Events</div>
        <div class="">Donate</div>
        <div class="">Contact</div>
    </div>
</div>
