---

const {step} = Astro.props

---

<div class="grid grid-cols-4">
    <div class="col-span-1 row-span-3 text-7xl ">{step.number}</div>
    <div class="col-span-3 text-3xl"><h2>{step.title}</h2></div>
    <div class="col-span-3 text-lg">{step.description}</div>
</div>
