---
const { title } = Astro.props;

import Navbar from "../components/navbar.astro";
import "../base.css";

---
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="flex flex-col gap-5 min-h-screen mx-auto lg:w-1/2 lg:p-5 p-3 w-full">
            <Navbar />
                <slot />
        </div>
    </body>
</html>
